<nav
  class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0 px-lg-5 mb-4 shadow shadow-sm"
>
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand ml-lg-3 me-5">
      <h1 class="m-0 text-uppercase text-primary">
        <i class="fa fa-book-reader me-3"></i>Quizzo
      </h1>
    </a>
    <button
      class="navbar-toggler mb-2"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav mx-auto">
        <a
          [routerLink]="['home']"
          routerLinkActive="text-light text-bg-secondary rounded rounded-2 "
          class="nav-item nav-link active me-1"
          >Home</a
        >
        <a
          routerLink="/addExam"
          routerLinkActive="text-dark text-decoration-underline"
          class="nav-item nav-link"
          >Show Result</a
        >
      </div>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="btn btn-outline-danger px-3" (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
